.container {
  margin-top: 30px;
}

hr {
  margin-top: 30px;
}

/*responsive modal*/

@media screen and (max-width: 500px) {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
