
<hr/>
<div class="container">
  <h1>Example Block Project</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi consequuntur culpa cum cupiditate dicta dolorem, doloribus earum error et eum eveniet facere, illum ipsa mollitia nihil odio quasi quidem quis ratione reiciendis rerum sapiente sed, sit soluta vel velit veritatis. Aperiam assumenda commodi consequuntur deleniti dignissimos dolore ea excepturi expedita fuga fugiat fugit id iure laboriosam laudantium maiores maxime minima mollitia nemo perspiciatis, quae repellat, saepe similique velit voluptatibus! </p>
  <app-cards></app-cards>

</div>


