
.resim{
  float: left;
}
.metin{
  text-align: justify;
}

.btn-close{
  float: right;

}


@media (max-width: 576px){
  p{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow:hidden;

  }

}
