.container {
  margin-top: 30px;


}

hr {
  margin-top: 30px;
}

/*responsive modal*/

@media (min-width:404px )and (max-width: 576px){
  p{
    width: 65%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;

  }
  app-cards {
  /*position: absolute;*/
  /*  right: 20%;*/
  /*  left: 25%;*/
  }
  .container{
    position: absolute;
    left: 12%;
  }


}

@media (max-width: 404px) {
  p {
    width: 85%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

  }



  .container {
    position: absolute;
    left: 12%;
  }
}
