


#profile{
  background-color: unset;

}

.comment{
  background-color: #e9ecef;
  float: left;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;

}
.comment h4,.comment span,.darker h4,.darker span{
  display: inline;
}

.comment p,.comment span,.darker p,.darker span{
  color:black;
}

h4{
  color: black;
  font-weight: bold;
}
