<div class="card-group ">
  <div *ngFor="let post of postList" >
    <div *ngIf="post.id<ust && alt<post.id" class="card " (click)="postDetails(post.imageId,post.title,post.body,post.id);"
         data-bs-toggle="modal"  data-bs-target="#staticBackdrop">
      <img src="assets/images/image{{post.imageId}}.jpg" alt="{{post}}" style="width:100%">
      <p class="postTitle" >{{post.title}} </p>
      <div class="row  hizala">
        <div class="butonlar">
          <button (click)="postDetails(post.imageId,post.title,post.body,post.id); " class="button button1 col-md-2"
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop">View
          </button>
          <button (click)="postEdit(post.title,post.body)" class="button button2 col-md-2" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop2">Edit
          </button>
        </div>
      </div>
      <button  class="buttonPost " type="button">post-{{post.id}}</button>

    </div>
    <!-- ----------------------------------------------------------------- -->

  </div>
</div>

<!--edit post-->

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel1">Edit Post</h5>
        <hr/>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)"   >
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" name="title" ngModel  class="form-control" style="width: 100%" value="{{editTitle}}">
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" name="body" ngModel  style="width:100%; height:200px;" [value]="editBody" ></textarea>
          </div>
          <hr/>
          <button (click)="editTitle= userPost.value.title;editBody=userPost.value.body"  type="submit" class="btn applyButon ">Apply</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row ">
  <div class="sayfaButon">
    <button (click)="previusData()" class=" sayfaButon1 col-md-2">Previous</button>
    <button (click)="nextData()" class=" sayfaButon2 col-md-2">Next</button>
  </div>
</div>

<!--post details-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Post Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="postDetails row">
          <div class="resim col-md-5">
            <img src="assets/images/image{{imageId}}.jpg" alt="image" style="width:100%">
          </div>
          <div class="col-md-7">
            <h4>{{postTitle}}</h4>
            <div class="metin">
              <p>{{postBody}}</p>
            </div>
          </div>


          <!-- comments -->

          <div class="container">
            <div *ngFor="let comment of commentList">
              <div  *ngFor="let user of userList">
                <div *ngIf="comment.postId == postId">
                  <div *ngIf="user.id==comment.userId">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="comment mt-4 text-justify float-left">
                          <img src="assets/images/profile/profile{{user.id}}.jpg" alt="" class="rounded-circle"
                               width="40" height="40">
                          <div class="comentText">
                            <h4>{{user.name}}</h4>
                            <br>
                            <br>

                            <p> {{comment.name}}</p>
                            <p>{{comment.body}}</p>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


